body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: coral;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.8rem;
}
a {
  color: white;
  text-decoration: rgb(247, 243, 242);
  font-size: 2.4rem;
  flex-direction: column-reverse;
}
nav {
  background: rgb(47, 199, 245);
  color: white;
  padding: 3rem;
}
.navbar-ul {
  float: right;
  display: flex;
  text-align: justify;
  overflow: hidden;
}
a:hover {
  background: #3a9eeb;
  transition: 0.5s;
}
#my_profile {
  text-align: center;
  display: inline-block;
}
.navbar-ul li {
  list-style: none;
}
.navbar__text {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
/* .burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(245, 244, 244);
  margin: 2px;
} */

.center {
  text-align: center;
}

li {
  float: right;
  margin: 0rem 4rem;
}

#self-image {
  width: 100%;
  height: auto;
}

#description {
  font-size: 1.3em;
  color: black;
}

#description-self {
  display: flex;
}

.profile-card {
  width: 25vw;
  border-radius: 10px 20px 10px 20px;
  border: 1px solid red;
  margin: 10px auto;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.image-text {
  color: red;
}

.card-image {
  background-image: url("./FE20DCD3-D59C-4D42-B99B-56693B3AFFE3.jpg");
  background-size: cover;
  height: 50vh;
}
.text-container p:nth-child(1) {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 30px;
  color: rgb(26, 23, 23);
}
.text-container p:nth-child(2) {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 40px;
  color: rgb(12, 12, 12);
}
.text-container p:nth-child(3) {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: black;
}
.text-container p {
  line-height: 0px;
  margin: 45px 0px 15px;
}
.text-container {
  position: absolute;
  left: 7%;
  top: 75%;
  transform: translate(-13%);
}
.comp-background {
  height: 500px;
  width: 100%;
  background-position: center;
  margin: 20px;
}
.about-info {
  width: 100%;
  height: 305px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
table {
  width: 100%;
  height: 50px;
}
th {
  text-align: left;
}
table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 10px;
  font-size: 25px;
  color: rgb(33, 33, 65);
}
.content-table thead tr {
  background-color: lightblue;
}
.content-table tbody tr :nth-child(1) {
  background-color: #dfe4f3;
}
.content-table tbody tr :nth-child(2) {
  background-color: #f8efef;
}
.content-table tbody tr :nth-child(3) {
  background-color: rgb(196, 219, 214);
}
@media screen and (max-width: 1024px) {
  .body-main {
    flex-direction: column;
  }
}
footer {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
footer p:nth-child(1) {
  font-size: 17px;
  font-weight: bold;
  color: #191919;
  line-height: 10px;
  margin: 4px;
  font-family: "Times New Roman", Times, serif;
}
footer p:nth-child(2) {
  font-size: 13px;
  font-weight: bold;
  color: #191919;
  width: 500px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.social-icons a {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e3e6e3;
  margin: 20px 10px;
  border-radius: 50%;
  box-shadow: 1px 4px 2px 2px #dcdde1;
}
.social-icons {
  display: flex;
}
.fa-facebook {
  color: rgb(55, 55, 167);
}
.fa-instagram {
  color: #e84393;
}
.fa-youtube {
  color: #e84118;
}
.about-info {
  overflow-x: auto;
}
.content-table {
  height: auto;
}
.navbar-links {
  margin: auto;
  text-align: center;
  display: inline;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .nav {
    width: 100%;
  }
  .nav-item {
    width: 100%;
    float: none;
  }
}
.toggle-button {
  position: absolute;
  top: 32px;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
@media (max-width: 730px) {
  .toggle-button {
    display: flex;
  }
  .navbar-ul {
    /* display: none; */
    display: none;
  }
  .navbar__text {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-ul.active {
    display: flex;
  }
}
